Day ${dayshort}
------

<!--
This section is generated and compiled by the build script at ./Build.hs from
the file `./reflections/day${daylong}.md`.  If you want to edit this, edit
that file instead!
-->

*[Prompt][d${daylong}p]* / *[Code][d${daylong}g]*

[d${daylong}p]: https://adventofcode.com/${year}/day/${dayshort}
[d${daylong}g]: https://github.com/${github}/advent/blob/${year}/src/AOC/Challenge/Day${daylong}.hs

${body}

### Day ${dayshort} Benchmarks

```
${benchmarks}
```
