{-|
   Name: {{NAME}}
   Url: <https://adventofcode.com/2020/day/{{XX}}>
-}

module Day{{XX}} (main) where

import Advent
import Control.Arrow ((&&&))

main :: IO ()
main = print . (part1 &&& part2) =<< getParsedLines {{XX}} parseInput

type Input  = [Int]
type Output = Int

-- | Parsing
parseInput :: Parser Int
parseInput = undefined

part1 :: Input -> Output
part1 = const 0

part2 :: Input -> Output
part2 = const 0
